@using Stl.Rpc
@inherits ComputedStateComponent<RpcPeerState?>
@inject RpcClientPeerReconnectDelayer RpcClientPeerReconnectDelayer

@{
    var m = State.ValueOrDefault ?? new RpcPeerState(true);
    var isReconnecting = !m.IsConnected
        && m.ReconnectsAt <= RpcClientPeerReconnectDelayer.Clock.Now;
    var message = m.IsConnected
        ? "Connected."
        : m.Error?.Message.Trim() ?? "Unknown error.";
    if (!message.EndsWith(".") && !message.EndsWith("!") && !message.EndsWith("?"))
        message += ".";
    var iconName = m.IsConnected == false
        ? FontAwesomeIcons.ExclamationTriangle
        : FontAwesomeIcons.Cloud;
    var textColor = m.IsConnected == false
        ? TextColor.Warning
        : TextColor.Default;
}

<BarItem>
    <BarDropdown Class="@CssClass" RightAligned="true">
        <BarDropdownToggle>
            <BarIcon IconName="@iconName" TextColor="@textColor"></BarIcon>
        </BarDropdownToggle>
        <BarDropdownMenu>
            <BarDropdownItem TextColor="@textColor">
                <span>@message</span>
                @if (!m.IsConnected) {
                    if (isReconnecting) {
                        <span> Reconnecting... </span>
                    }
                    else {
                        <span> Will reconnect <TimerBadge ExpiresAt="m.ReconnectsAt"/>. </span>
                        <Button Color="Color.Success" Clicked="@TryReconnect">Reconnect</Button>
                    }
                }
            </BarDropdownItem>
        </BarDropdownMenu>
    </BarDropdown>
</BarItem>

@code {
    private RpcPeerStateMonitor? _monitor;

    [Parameter]
    public string CssClass { get; set; } = "";

    protected override void OnInitialized()
    {
        _monitor = Services.GetService<RpcPeerStateMonitor>();
        _monitor?.Start();
        base.OnInitialized();
    }

    protected override async Task<RpcPeerState?> ComputeState(CancellationToken cancellationToken)
    {
        if (_monitor == null)
            return null;

        return await _monitor.State.Use(cancellationToken).ConfigureAwait(false);
    }

    private void TryReconnect()
        => Services.RpcHub().InternalServices.ClientPeerReconnectDelayer.CancelDelays();
}
