@page "/"
@namespace Templates.TodoApp.Host.Pages
@using Templates.TodoApp.UI
@using Stl.Async
@using Stl.Fusion.Server.Authentication
@using Stl.Fusion.Server.Controllers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ServerAuthHelper ServerAuthHelper
@inject HostSettings HostSettings
@{
    Task.Run(() => ServerAuthHelper.UpdateAuthState(HttpContext)).Ignore();
    var authSchemas = await ServerAuthHelper.GetSchemas(HttpContext);
    var sessionId = ServerAuthHelper.Session.Id.Value;
    var isServerSideBlazor = BlazorModeController.IsServerSideBlazor(HttpContext);
    var isCloseWindowRequest = ServerAuthHelper.IsCloseWindowRequest(HttpContext, out var closeWindowFlowName);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google-signin-client_id" content="@HostSettings.GoogleClientId">
    <title>Fusion+Blazorise Template</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />

    <partial name="Blazorise.Head" />
    <script src="_content/Stl.Fusion.Blazor/scripts/fusionAuth.js"></script>
    <script src="https://apis.google.com/js/patform.js" async defer></script>
    <script>
        window.FusionAuth.schemas = "@authSchemas";
        window.FusionAuth.sessionId = "@sessionId";
    </script>
</head>
<body>
@if (isCloseWindowRequest) {
    <script>
        setTimeout(function () {
            window.close();
        }, 500)
    </script>
    <div class="alert alert-primary">
        @(closeWindowFlowName) completed, you can close this window.
    </div>
} else if (!isServerSideBlazor) {
    <app id="app">
        <div class="position-absolute h-100 w-100 absolute-center">
            <div class="text-primary">
                <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="mt-3" style="font-size: 1.25rem">
                    Welcome the Blazing Fusion!
                    <i class="fa fa-sun"></i>
                </div>
            </div>
        </div>
    </app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <partial name="Blazorise.Body" />
    <script type="module" src="./js/app.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
} else {
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered, new { SessionId = sessionId }))
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <partial name="Blazorise.Body" />
    <script type="module" src="./js/app.js"></script>
    <script src="_framework/blazor.server.js"></script>
}
</body>
</html>
